.Logo{
    height: 50px;
    color: white;
}

.NavBar-Conteiner{
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color: #CDF0EA;
    align-items: center;
}

.Carrito{
    height: 35px;
    max-width: 50px;
    color: black;
}

.Main{
    height: 100vh;
    background-color: #F2F2F2;
}

.Footer{
    height: 35vh;
    background-color: #CDF0EA;
}

.enlase{
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: black;
    height: 100%;
}

.links{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}