.Logo{
    height: 50px;
    color: white;
}

.NavLink{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
.NavBar{
    display: flex;
    justify-content: space-around;
}

.NavBarMe{
    width: 40vw;
}

.NavBar-Conteiner{
    height: 80px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: #CDF0EA;
    align-items: center;
}

.Carrito{
    height: 35px;
    max-width: 50px;
    color: black;
}

.Main{
    height: 100vh;
    background-color: #F2F2F2;
}

.Footer{
    height: 35vh;
    background-color: #CDF0EA;
}

.enlase{
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: black;
    height: 100%;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}