html{
    font-size: 16px;
}

.ItemListcontainerGrid{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.Item{
    text-align: center;
}

.contador{
    display: flex;
    justify-content: center;
}

.card{
    height: 27.50rem;
    width: 20rem;
    border: solid 1px black;
    border-radius: 2rem;
}

.nombre{
    font-size: 0.8rem;
}

.imagen{
    border-radius: 2rem;
    max-width: 20rem;
}

.imagenContainer{
    display: flex;
    justify-content: center;
}

.agregarContainer{
    display: flex;
    justify-content: center;
}

.btn{
    border-radius: 1rem;
    background: none;
}

.nombre{
    margin-bottom: 0;
}

.price{
    font-size: 1rem;
    margin-bottom: 0;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle{
    margin-bottom: 7.5rem;
}